<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614919104208-2p5uvk523cag968c89ruhsv91p6jbc3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614919104208-2p5uvk523cag968c89ruhsv91p6jbc3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614919104208-4316njqq343g5gsspcr9ijlnvih4n076.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6h-2cqRkywEvX94WyDKWFuT5MIfQcU0</string>
	<key>GCM_SENDER_ID</key>
	<string>614919104208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blazar.moomoo</string>
	<key>PROJECT_ID</key>
	<string>perplexbrainbow</string>
	<key>STORAGE_BUCKET</key>
	<string>perplexbrainbow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614919104208:ios:66558017d5760cb3e560d5</string>
	<key>DATABASE_URL</key>
	<string>https://perplexbrainbow-default-rtdb.firebaseio.com</string>
</dict>
</plist>